apiVersion: v1
kind: Secret
metadata:
  name: mariadb-backup-secrets
type: Opaque
data:
  # echo -n '사용자명' | base64
  username: BASE64_ENCODED_USERNAME
  # echo -n '비밀번호' | base64
  password: BASE64_ENCODED_PASSWORD 